.App {
  font-family: sans-serif;
  text-align: center;
}

.trafic_light {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.red_ligth {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 80px;
}

.green_ligth {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 80px;
}

.yellow_ligth {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 80px;
}
